<div
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
  id="verChequerasModal"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <hr />
        <h1 style="text-align: center">Manejo de Chequera</h1>
        <hr />
        <div class="input-group mb-3">
          <button
            type="button"
            class="btn border border-success"
            data-toggle="modal"
            data-target="#nuevaChequeraModal"
            style="margin-right: 1rem"
          >
            <i class="fa fa-credit-card-alt"></i> Crear Chequera
          </button>
        </div>
        <hr />
        <div *ngFor="let item of listChequera" class="input-group mb-3">
          <button
            type="button"
            class="btn border-danger text-danger"
            (click)="delete(item.id)"
            style="margin-right: 5px"
          >
            <i class="fa fa-trash"></i>
          </button>
          <h4>Chequera #{{ item.id }} con ({{ item.cantidad }}) cheques</h4>
          <hr />
          <app-cheque id_chequera="{{ item.id }}"></app-cheque>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="nuevaChequeraModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Crear chequera</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="newChequera()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formChequera">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Cantidad</label>
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                placeholder="Cantidad"
                formControlName="cantidad"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="newChequera()"
        >
          Close
        </button>
        <button type="button" class="btn border border-dark" (click)="save()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
