<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"> Home </a>
  </div>
</nav>

<div class="col-md-12 p-2">
  <hr />
  <h1 style="text-align: center">Manejo de Clientes</h1>
  <hr />

  <button
    type="button"
    class="btn border border-dark"
    data-toggle="modal"
    data-target="#nuevoClienteModal"
  >
    <i class="fa fa-save"></i> Nuevo Cliente
  </button>

  <hr />

  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col" class="text-center">ID</th>
        <th scope="col" class="text-center">Nombres</th>
        <th scope="col" class="text-center">Dirección</th>
        <th scope="col" class="text-center">Telefono</th>
        <th scope="col" class="text-center">Editar/Eliminar</th>
        <th scope="col" class="text-center">Cuentas/Chequeras</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listClients">
        <th class="text-center">{{ item.id }}</th>
        <td class="text-center">{{ item.nombres }}</td>
        <td class="text-center">{{ item.direccion }}</td>
        <td class="text-center">{{ item.telefono }}</td>
        <td class="text-center">
          <button
            type="button"
            class="btn border-info text-white"
            data-toggle="modal"
            data-target="#nuevoClienteModal"
            style="margin-right: 4px"
            (click)="selectItem(item)"
          >
            <i class="fa fa-pencil"></i>
          </button>
          <button
            type="button"
            class="btn border-danger text-white"
            (click)="delete(item.id)"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
        <td class="text-center">
          <button
            type="button"
            class="btn border-primary text-white"
            data-toggle="modal"
            data-target="#verCuentasModal"
            style="margin-right: 4px"
            (click)="pasarIdUsuarioCuenta(item.id)"
          >
            <i class="fa fa-credit-card"></i>
          </button>
          <button
            type="button"
            class="btn border-secondary text-white"
            data-toggle="modal"
            data-target="#nuevoClienteModal"
            style="margin-right: 4px"
          >
            <i class="fa fa-money"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="nuevoClienteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!isUpdate" class="modal-title" id="exampleModalCenterTitle">
          Crear nuevo Cliente
        </h5>
        <h5 *ngIf="isUpdate" class="modal-title" id="exampleModalCenterTitle">
          Actualizar Datos del Cliente
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="newClient()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formClient">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Nombres</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Nombres"
                formControlName="nombres"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Dirección</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Dirección"
                formControlName="direccion"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Telefono"
                formControlName="telefono"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="newClient()"
        >
          Close
        </button>
        <button
          *ngIf="!isUpdate"
          type="button"
          class="btn border border-dark"
          (click)="save()"
        >
          Save
        </button>
        <button
          *ngIf="isUpdate"
          type="button"
          class="btn border-info"
          data-dismiss="modal"
          (click)="update()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
